common --enable_platform_specific_config

# Enable C++20
build --action_env=BAZEL_CXXOPTS="-std=c++20:-g:-O0:-Wall:-Werror:-Wextra:-pedantic:-Wconversion:-Wundef:-Wshadow:-Wunreachable-code:-Wcast-qual"

# Enable the CC toolchain resolution based on platforms.
build:linux --incompatible_enable_cc_toolchain_resolution

# Clang tidy
build:clang-tidy --aspects @bazel_clang_tidy//clang_tidy:clang_tidy.bzl%clang_tidy_aspect
build:clang-tidy --output_groups=report

# Print all output from tests
test --test_output=all
